{% extends "base.html" %}

{% block title %}Register | AuraNova{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width: 600px;">

    <div class="card shadow">

        <div class="card-body">

            <h2 class="text-center mb-4">
                Create Your AuraNova Account
            </h2>

            <form method="POST">

                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input
                        type="text"
                        name="full_name"
                        class="form-control"
                        placeholder="Enter your full name"
                    >
                </div>

                <div class="mb-3">
                    <label class="form-label">Email Address</label>
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter your email"
                    >
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Create password"
                    >
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input
                        type="password"
                        name="confirm_password"
                        class="form-control"
                        placeholder="Confirm password"
                    >
                </div>

                <div class="mb-3">
                    <label class="form-label">Register As</label>
                
                    <select
                        name="role"
                        class="form-select"
                    >
                        <option value="patient">
                            Patient
                        </option>
                
                        <option value="doctor">
                            Doctor
                        </option>
                    </select>
                </div>

                <button
                    type="submit"
                    class="btn btn-primary w-100">
                    Register
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}