{% extends "base.html" %}

{% block title %}
Book Appointment
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h3>Book Appointment</h3>
        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">

                    <label class="form-label">
                        Select Doctor
                    </label>

                    <select
                        name="doctor_name"
                        class="form-select"
                        required
                    >

                        <option value="">
                            -- Choose a Doctor --
                        </option>

                        {% for doctor in doctors %}

                        <option value="{{ doctor.full_name }}">

                            {{ doctor.full_name }}
                            -
                            {{ doctor.specialization }}
                            ({{ doctor.experience }} Years)
                        
                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Appointment Date
                    </label>

                    <input
                        type="date"
                        name="appointment_date"
                        class="form-control"
                        required
                    >

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Appointment Time
                    </label>

                    <input
                        type="time"
                        name="appointment_time"
                        class="form-control"
                        required
                    >

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Reason
                    </label>

                    <textarea
                        name="reason"
                        class="form-control"
                        rows="4"
                        placeholder="Describe your health issue..."
                        required
                    ></textarea>

                </div>

                <button
                    type="submit"
                    class="btn btn-success"
                >
                    Book Appointment
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}