{% extends "base.html" %}

{% block title %}
Patient Dashboard
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">
        Patient Dashboard
    </h2>

    <div class="card shadow">

        <div class="card-body">

            <h3>
                Welcome, {{ user.full_name }}
            </h3>

            <hr>

            <p>
                <strong>Email:</strong>
                {{ user.email }}
            </p>

            <p>
                <strong>Role:</strong>
                {{ user.role }}
            </p>

            <p class="text-success">
                You are logged in successfully.
            </p>

        </div>

    </div>

</div>

{% endblock %}