{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2>🛡️ Admin Dashboard</h2>

    <p class="text-muted">
        AuraNova Healthcare Analytics
    </p>

    <div class="row mt-4">

        <div class="col-md-3 mb-4">
            <div class="card shadow text-center p-3">
                <h2>👥</h2>
                <h3>{{ total_patients }}</h3>
                <p>Total Patients</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow text-center p-3">
                <h2>👨‍⚕️</h2>
                <h3>{{ total_doctors }}</h3>
                <p>Total Doctors</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow text-center p-3">
                <h2>📅</h2>
                <h3>{{ total_appointments }}</h3>
                <p>Total Appointments</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow text-center p-3">
                <h2>🤖</h2>
                <h3>{{ total_ai_reports }}</h3>
                <p>AI Reports</p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3 mb-4">
            <div class="card shadow text-center p-3">
                <h2>📄</h2>
                <h3>{{ total_documents }}</h3>
                <p>Documents Uploaded</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow text-center p-3">
                <h2>🟡</h2>
                <h3>{{ pending }}</h3>
                <p>Pending</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow text-center p-3">
                <h2>🟢</h2>
                <h3>{{ approved }}</h3>
                <p>Approved</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow text-center p-3">
                <h2>✅</h2>
                <h3>{{ completed }}</h3>
                <p>Completed</p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3 mb-4">
            <div class="card shadow text-center p-3">
                <h2>❌</h2>
                <h3>{{ cancelled }}</h3>
                <p>Cancelled</p>
            </div>
        </div>

    </div>

</div>

{% endblock %}